html {
    width: 1440px;
    height: 1243px;
    background: #FAF8ED;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: space-around;
    align-items: space-between;
    align-items:center;
    margin: 33px 135px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #2E476B;
}

.logo {
    display: flex;
    justify-content: flex-start;
    margin-right: 70px;
}

.botton {
    display: flex;
    justify-content: flex-end;
    margin-left: 300px;
}

.article1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin: 136px 480px 28px 480px;
}
 
.article1 h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 66px;
    color: #2D3134;
}

.article1 p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #5B5F62;
}

.cities {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
}

.cities a {
    border: 1px solid #3D3D3D;
    border-radius: 30px;
    padding: 10px 20px;
}

#london {
    background: #2D3134;
    color: #FFFFFF;
}

.grid{
    position: relative;
}

.grid p{
    position: absolute;
    display: flex;
    top: 24px;
    left: 24px;
    font-family: inter;
    width: 42px;
    height: 24px;
    background: #FFFFFF;
    color: black;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    transition: all 0.2s ease 0s;
}

.grid h4{
    position: absolute;
    bottom: 48px;
    left: 24px;
    font-family: inter;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.grid h5{
    position: absolute;
    bottom: 24px;
    left: 24px;
    font-family: inter;
    font-style: normal;
    font-weight: 100;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.gallery-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1.4fr; 
    grid-template-rows: 1fr 1fr; 
    grid-template-areas: 
        "first third third fourth fourth"
        "second third third fifth sixth";
    justify-content: center;
    align-items: end;
    row-gap: 10px;
    column-gap: 30px;
    margin: 51px 135px 0 135px;
}

.img1 {
    grid-area: first;
}

.img2 {
    grid-area: second;
}

.img3 {
    grid-area: third;
}

.img4 {
    grid-area: fourth;
}

.img5 {
    grid-area: fifth;
}

.img6 {
    grid-area: sixth;
}

.footer {
    padding: 100px;
    display:flex;
    justify-content: space-around;
    align-items: space-between;
    align-items: flex-start;
    gap: 50px;
}

.columns {
    display: flex;
    flex-direction: column;
}

.logo-column {
    margin-right: 230px;
}

.logo-column p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #5B5F62;
}

.logo-column img {
    margin-bottom: 18px;
}

.columns h4 {
    margin-bottom: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #2D3134;
}

.columns p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 34px;
    color: #676A6C;
}